<h1>Show memorabilia</h1>

<%= render partial: 'partials/product', locals: {product: @product} %>

<%= link_to "Edit", "/products/#{@product.id}/edit" %>

<%= button_to “Delete”,  @product, method: :delete %>